/* line 1, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
body {
  padding-top: 50px;
  overflow-x: hidden; }
  /* line 4, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
  body header {
    width: 83%; }
    /* line 7, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
    body header a img {
      width: 99%; }
